
<% current_user.sites.each do |site| %>
<div class="section row valign-wrapper">
    <div class="col s12 m4">
      <%= site.name %>
    </div>

    <div class="col s12 m4">
      <%= site.url %>
    </div>

    <div class="col s12 m2">
      <%= site.status %>
    </div>

    <div class="col s12 m2">
      <% if site.last_checked %>
        <%= distance_of_time_in_words(Time.now, site.last_checked) %> 
      <% end %>
    </div>
    <div class="col s12 m2">
      <a href="/sites/<%= site.id %>" rel="nofollow" data-method="delete" class="btn-floating wave-effect waves-light btn-red tooltipped" data-position="top" data-delay="10" data-tooltip="Remove Site"><i class="material-icons">delete</i></a>
    </div>
  </div>

  <div class="divider"></div>
<% end %>
