<!DOCTYPE html>
<html>
<head>
  <title>AppFast</title>

  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>


  <%= render 'layouts/nav' %>

    <body class="<%= controller_name %> <%= action_name %>">
<!-- blue-grey darken-4 -->



      <!-- <div class="container"> -->

        <div class="container">

          <%= render 'layouts/login' %>

          <% flash.each do |name, msg| %>
          <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
            <%= msg %>
          <% end %>
        <% end %>

          <%= yield %>
      </div>







          <%= render 'layouts/footer' %>

      

  </body>

</html>
